<img src='images/Practicum_AI_Logo.white_outline.svg' width=250 alt='Practicum AI logo'> <img src='https://github.com/PracticumAI/practicumai.github.io/blob/main/images/icons/practicumai_python.png?raw=true' align='right' width=50>
***

# Data Analysis with Pandas
In this module, you will learn about one of the most popular and useful Python libraries for data analysis and manipulation: ***pandas***!

<img src='images/pandas_logo.png' alt='The Pandas logo' align='center' width=200>

### After this module, students will be able to:
* Explain the various components of a *pandas* dataframe.
* Use read_csv() to create new dataframes from data.
* Slice and dice data with *pandas* index and dataframe management functions.
* Illustrate the appropriate use of basic statistical functions to summarize a dataset.
* Use matplotlib functions to generate clear graphs and plots.


## <img src='images/get_started_icon.svg' alt="Let's get started header" width=40 align=center> Let's Get Started!

Like we learned last module, before we can use pandas, we must **import** the pandas library.
* For illustration purposes, we'll also import the scientific computing library NumPy.
* Both NumPy and pandas are usually imported with abbreviated aliases, `np` and `pd`.

In [ ]:
import numpy as np
import pandas as pd

## Pandas Dataframes

*pandas* provides one of the most useful data structures for managing data: the dataframe.

**Dataframes:**

* allow fast, flexible, and efficient data manipulation.
* are the natural data structure for **tabular** data.
* are two-dimensional, containing both **rows** and **columns**.
* consist of one or more **Series** (columns)


***pandas*** is built on top of the **NumPy** library, which in practice means that most of the methods defined for NumPy Arrays apply to *pandas* Series/dataframes.

**What makes Pandas so attractive?**
1. Powerful and efficient interface to access and manipulate individual records.
2. Proper handling of missing values.
3. Relational database-style operations between dataframes.

### <img src='images/note_icon.svg' alt="Note icon" width=40 align=center> Note
> Some of the examples used in this notebook are different than those used in the corresponding video.

## Creating a Series

Let's start by creating our first *pandas* Series! (Remember: in the context of a **dataframe** (table), each column is represented by a **Series**).

First, let's create some sample data to illustrate the creation of our Series.

In [ ]:
spo2 = [88, 99, 88, 85, 100, 98] # Review: this is a Python list, containing 6 values.
risk = ['high', 'low', 'high', 'high', 'low', 'low']

In [ ]:
# Create our first series
spo2_series = pd.Series(spo2)
spo2_series # If a variable name is the last line in a code cell, Jupyter will display the contents of the variable.

In [ ]:
# Do the same for risk
pd.Series(risk) # Display the 'risk' series

### <img src='images/alert_icon.svg' alt="Alert icon" width=40 align=center> Alert!
> One of the important points that we have note really encountered until now is that Python is "Zero-indexd". That means that the first item in a list, or the first row in a table, has the index of 0.
>
> Notice the output above. The first column shows the index of the series and then the second column has the value. The indices start at 0!
>
> This applies to lists, strings, arrays, just about everything in Python. Keep this in mind--a common error is to mistakenly use index 1 thinking you are getting the first item, where you need to use index 0.

## Creating a Pandas Dataframe

* Now that we've seen a Series, we can look at how these are combined as **columns** in a **table**.
* By popular convention, we will name our dataframe variable `df`.

### <img src='images/example_icon.svg' alt="Example icon" width=40 align=center> Example
> Create a small dataframe from our sample data.

In [ ]:
df = pd.DataFrame({'spo2': spo2, 'risk': risk}) # Create the dataframe
df # View the dataframe

### <img src='images/example_icon.svg' alt="Example icon" width=40 align=center> Example
> Create a larger dataframe from random data.

In [ ]:
# Make some random numbers for data. 
# This makes an array of random integers from 1-10, then reshapes it into a 500x4 matrix (500 rows and 4 columns)
random_data = np.random.randint(1,10, size=2000).reshape(500, 4)

# Create some example column names
column_names = ['columnA', 'columnB', 'columnC', 'columnD']

# Create the dataframe from the random data we generated.
# Since the input matrix has 500 rows and 4 columns, the dataframe will have 500 rows and 4 columns
df = pd.DataFrame(data=random_data, columns=column_names)
df # View the dataframe

### <img src='images/note_icon.svg' alt="Note icon" width=40 align=center> Note
> When viewing a large dataframe in a Jupyter notebook, sometimes the data will be **truncated** as above.

We often want to see the first (or last) several rows of a dataframe. We can use the `head()` and `tail()` functions for that.

In [ ]:
# View the 1st 5 rows
df.head()

In [ ]:
# View the last 3 rows (head also takes a number or rows as an optional argument)
df.tail(3)

We can also limit our views to particular comlumns using the column names. If the column names have no spaces or special characters, we cna use the "dot" notation: `df.columnA`. Otherwise we need to pass a list of columns: `df[['columnA', 'columnB']]`.

In [ ]:
# View multiple columns or if there are spaces in names
# Note the double square brackets!
df[['columnA', 'columnB']].head()

# Creating a dataframe from an existing data file

* Instead of creating a dataframe from scratch (tedious!), usually we create a dataframe by loading an existing data file.
* The most common file format for storing datasets is the **comma-separated value** `(.csv)` file.

> To create a pandas dataframe from a `.csv` file, we'll use the `read_csv` function.

### Let's load some data

The main input argument to `read_csv` function can be a local filename, or a remote URL of a file stored on the web. In this example, we'll be using an online file.

The dataset used is from the [GapMinder Project](https://www.gapminder.org/) and includes information on GDP, life expectancy and population in various countries for different years.

In [ ]:
url='https://raw.githubusercontent.com/PracticumAI/python-for-ai/main/data/gapminder_all.csv' # Direct link to the dataset on GitHub
df = pd.read_csv(url) # Create the dataframe from the given URL
df # View the dataframe we just created

We can see that this dataset contains 142 rows and 38 columns corresponding to each country's GDP, life expectancy and population between 1952 and 2007.

## Viewing Parts of a Dataframe
* dataframes often hold a large number of rows (in many AI projects, you might be dealing with hundreds of thousands, or even millions, of samples!)
* Sometimes we just want to get a preview, or a sense of what data is being stored in our dataframe.
* In the below examples, we'll see a few ways to view parts of a dataframe
    * This includes viewing a subset of columns, or a subset of rows, or both.

With so many columns, it can be a bit hard to see all of them, but we can get a list of the columns in the dataframe with the `.columns` method:

In [ ]:
df.columns

Next, let's revisit viewing some of a dataframe's **rows**. Since pandas is so flexible, there are several ways to accomplish this. In the examples below, we will use the pandas functions `head` and `tail`.

### <img src='images/exercise_icon.svg' alt="Exercise icon" width=40 align=center> Exercise 1

> Use `head` to view the first 5 rows of our `df` dataframe. (**Hint:** Given a dataframe `X`, calling `X.head()` will show the first `5` rows of the dataframe.

In [ ]:
# Call df.head()
# Your code here

### <img src='images/exercise_icon.svg' alt="Exercise icon" width=40 align=center> Exercise 2
> Use `head` to view the first **10** rows of `df`. (**Hint:** You can also provide an input argument `n` to the `head` function to show the first `n` rows (instead of the default `5` rows).

In [ ]:
# Call the dataframe and view only the last 10 rows
# Your code here

### <img src='images/exercise_icon.svg' alt="Exercise icon" width=40 align=center> Exercise 3
> Use `tail` to view the **last** 5 rows of our `df` dataframe. (**Hint:** Given a dataframe `X`, calling `X.tail()` will show the **last** `5` rows of the dataframe.

In [ ]:
# Call the dataframe and view the last 5 rows
# Your code here

### <img src='images/exercise_icon.svg' alt="Exercise icon" width=40 align=center> Exercise 4
> Use `tail` to view the **last** `10` rows of `df`. (**Hint:** You can also provide an input argument `n` to the `tail` function to show the last `n` rows (instead of the default `5` rows).

In [ ]:
# Call the dataframe and view only the last 10 rows
# Your code here

Now, let's see some ways to view a subset of a dataframe's **columns**. 

**Reminder:** If the last line inside a code cell is simply a variable name, Jupyter will display the value of that variable.

For a given dataframe `df` and desired column `col`, one way to view a single column is to call `df['col']`. (**Important:** the column name `col` must be in quotes!).

### <img src='images/exercise_icon.svg' alt="Exercise icon" width=40 align=center> Exercise 5
> Use the above method to view the `gdpPercap_2007` column of our `df` dataframe.

In [ ]:
# Call the dataframe to view the gdpPercap_2007 column
# Your code here

We can also adapt this method to view multiple columns. Instead of passing in a single string column name `'C'`, instead we will pass in a **list** of string column names, e.g. `['A', 'B', 'C']`. For example: `df[['A', 'B', 'C']]` (**Important:** Notice the double brackets!)

### <img src='images/exercise_icon.svg' alt="Exercise icon" width=40 align=center> Exercise 6
> Use the above method to view the `gdpPercap_2007`, `lifeExp_2007`, and `pop_2007` columns of our `df` dataframe.

In [ ]:
# Display the columns `gdpPercap_2007`, `lifeExp_2007`, and `pop_2007`
# Your code here

## Creating new columns 

* We can easily create new columns in an existing dataframe.
* When we define an equation as below, equation will be applied to every **row** of the dataframe.
* In this way, we can create new columns from different combinations of existing columns.

Let's use an equation to calculate change in GDP from 1962 to 2007.

In [ ]:
df['gdp_change'] = (df['gdpPercap_1962'] - df['gdpPercap_2007'])
df.head()

## Deleting columns 

We can also **drop** (delete) columns.

Let's remove the `gdp_change` column that we previously created.

In [ ]:
df.drop(columns=['gdp_change']) # Will this remove the column?
df.head()

**What happened? `gdp_change` is still there!**

### <img src='images/tip_icon.svg' alt="Tip icon" width=40 align=center> Tip
> Unless you specify `inplace=True` or assign the dataframe back to itself (or a different variable name), **the `drop` method does not change the original dataframe!**

Below is one way to permanently remove a column from a dataframe by assigning the result to a new dataframe variable `df2`.

In [ ]:
# Now, after dropping the column, we are assigning the resulting dataframe to a new variable.
# This will persist the change.
df2 = df.drop(columns=['gdp_change']) 
df2.head()

### <img src='images/exercise_icon.svg' alt="Exercise icon" width=40 align=center> Exercise 7

> Create a new dataframe called `df3`, that contains everything in the `df` dataframe **except** the `continent` column.

In [ ]:
# Code it!

## Descriptive Statistics

### <img src='images/alert_icon.svg' alt="Alert icon" width=40 align=center> Alert!
> Before diving into an AI project, it is critical to become familiar with the data you will be modeling!  Pandas has a large collection of optimized methods designed to analyze your data.

A preliminary data discovery and exploration phase can help you better understand the data you will be modeling, and has many downstream advantages:
* You may identify potential problems with the dataset (e.g., missing values, outliers, incomplete columns, irrelevant information)
* Results of data exploration may help you decide which preproessing or modeling approach to take.
* A better understanding of your population will help you interpret your future results.

#### Remember Python functions?
Pandas offers many **functions** that take as **input** a set of values (example: all of the values from the `gdpPercap_2007` column), and **return** a calculated **output** value based on which function was used.

Here are a few examples (most are self-explanatory!):
* `sum` (sum the input values)
* `count` (count the number of input values), `value_counts` (count the number of each unique value)
* `min` (return the minimum value), `max` (return the maximum value)
* `mean` (return the mean value), `median` (median), `mode` (mode)
* `var` (variance), `std` (standard deviation)
* `quantile` (compute quantiles)

Let's take a look at a few examples using our dataset!

### <img src='images/example_icon.svg' alt="Example icon" width=40 align=center> Example
Here's how we can compute the **mean** GDP in 2007:

In [ ]:
# Compute the mean GDP in 2007
df['gdpPercap_2007'].mean()

It's that easy! Let's compute a few more descriptive statistics:

### <img src='images/exercise_icon.svg' alt="Exercise icon" width=40 align=center> Exercise 8
> Compute the **minimum** GDP in 2007.

In [ ]:
# Compute the minimum GDP in 2007
# Your code here

### <img src='images/exercise_icon.svg' alt="Exercise icon" width=40 align=center> Exercise 9
> Compute the **maximum** GDP in 2007.

In [ ]:
# Compute the maximum GDP in 2007
# Your code here

Finally, the `describe` function can be used on an entire dataframe to display several common statistics, computed for each column, all at once. (**Note:** Be aware of the values and data types contained in each column, as sometimes the statistics will not make sense.)

In [ ]:
# (Almost) everything, (almost) everywhere, all at once
# Note: will only compute statistics for columns with numerical data.
df.describe()

## Filtering data
Pandas makes it easy to select, analyze, and process subsets of your data based on some criteria `C`. This is accomplished with easily understandable syntax: `df[C]` will return a subset of dataframe `df` that **matches** the criteria `C` listed inside brackets `[]`.

### Comparing values
In pandas, we can create filtering criteria using familiar mathematical operators to compare values:
* `>`: greater than
* `<`: less than
* `>=`: greater than or equal to
* `<=`: less than or equal to
* `!=`: is not equal to
* `==`: is equal to a single value
* **Bonus:** `.isin(L)`: is equal to any value contained in the list `L`.

### <img src='images/example_icon.svg' alt="Example icon" width=40 align=center> Example
Display 2007 GDP is **greater** than $40,000.
* In this example, the criteria `C` is `df['gdpPercap_2007'] > 40000`.
* Recall the Pandas filtering syntax: `df[C]`.
* So, this is what we want: `df[df['gdpPercap_2007'] > 40000]`.

In [ ]:
# Select rows where 2007 GDP is greater than $40,000
df[df['gdpPercap_2007'] > 40000]

### <img src='images/exercise_icon.svg' alt="Exercise icon" width=40 align=center> Exercise 10
> Display where 2007 GDP is **less** than $500

In [ ]:
# Display rows where 2007 GDP is less than $500

### <img src='images/example_icon.svg' alt="Example icon" width=40 align=center> Example
Display the first 5 readings from African countries.

* Recall that the symbol `==` will check for equality (we want the continent to be equal to the single value `Africa`).
* In this example, the criteria `C` is `df['coninent'] == 'Africa'`.
* Given the Pandas filtering syntax: `df[C]`, this is what we want: `df[df['continent'] == 'Africa']`.

In [ ]:
# Display the first 5 readings from African countries.
df[df['continent'] == 'Africa'].head()

### <img src='images/exercise_icon.svg' alt="Exercise icon" width=40 align=center> Exercise 11
> Display the first 5 readings from European countries (`'continent'`==`'Europe'`).

In [ ]:
# Display the first 5 readings from European countries ('continent'=='Europe').
# Write your code here

### Combining multiple criteria

Multiple criteria can be combined using either the `&` or `|` symbols:
* C1 `&` C2: This will select rows that match **both** criteria C1 **and** C2.
* C1 `|` C2: This will select rows that match **either** criteria C1 **or** C2.

### <img src='images/example_icon.svg' alt="Example icon" width=40 align=center> Example
Display readings where 2007 GDP is greater than or equal to 30,000 and 2007 life expectancy is under 60. In this example, we have two criteria:
* C1: `df['gdpPercap_2007'] >= 30000`
* C2: `df['lifeExp_2007'] <= 80`

In [ ]:
# Select rows where 2007 GDP is greater than or equal to 30,000 and 2007 life expectancy is under 60.
df[(df['gdpPercap_2007'] >= 30000) & (df['lifeExp_2007'] <= 80)]

### <img src='images/exercise_icon.svg' alt="Exercise icon" width=40 align=center> Exercise 12
> Display all European countries that have 2007 life expectancies over 80. (**Hint:** we have 2 criteria.)

In [ ]:
# Display all European countries that have 2007 life expectancies over 80.
# Your code here

### Analyzing filtered data
We can also perform our descriptive statistics on a filtered subset!

In [ ]:
df[(df['continent'] == 'Europe') & (df['lifeExp_2007'] > 80)].describe()

## Data visualization
Let's conclude this lesson by learning how Pandas can enhance our understanding of a dataset with its many built-in visualization tools.


Let's see the data! This time, we'll be loading our dataset into a dataframe variable named `X`.

In [ ]:
X = pd.read_csv(url) # url is defined above
X.head()

### <img src='images/example_icon.svg' alt="Example icon" width=40 align=center> Example
Let's visually examine the distribution of 2007 GDPs with the pandas `hist` (histogram) function.

In [ ]:
hist = X['gdpPercap_2007'].hist()

We can modify many parameters of the `hist` function to create a more informative figure.

In [ ]:
hist = X['gdpPercap_2007'].hist(bins=72, grid=False)
hist.set_title('Distribution of 2007 GDP of Countries')
hist.set_ylabel('Count')
hist.set_xlabel('GDP in 2007')
display(hist)

### <img src='images/exercise_icon.svg' alt="Exercise icon" width=40 align=center> Exercise 13
> Visualize the distribution of the 2007 life expectancies.

In [ ]:
# Visualize the distribution of the 2007 life expectancies.
# Your code here

This can also be rewriten as: `X.hist(['lifeExp_2007'], bins=40)`

That syntax makes it easier to plot multiple histograms side-by side. Below, we compare the distributions of life expectancies in 1962 and 2007.

In [ ]:
X.hist(column=['lifeExp_1962','lifeExp_2007'], bins=40, sharey=True, sharex=True)

### <img src='images/example_icon.svg' alt="Example icon" width=40 align=center> Example
We can use the `df.plot.box` function to create box plots from columns in our dataframe:

In [ ]:
X.plot.box(column='lifeExp_2007', by='continent')

### <img src='images/exercise_icon.svg' alt="Exercise icon" width=40 align=center> Exercise 14
> Practice with the `hist` and `box` functions by exploring different columns in our dataframe. Experiment with data filtering methods to further refine your figures. **Hint:** We can see all of the available columns with `print(X.columns)`.

In [ ]:
### Experiment with code!

***
#### Attribution 
Some content in this learning experience was adapted from Ben Shickel's [AI for Medicine bootcamp](https://github.com/gatorai/scripps) content.